@using WeatherStatistics.Shared
@inject WeatherStatistics.Client.Services.IWeatherStatService StatService

<select>
	@foreach (var city in CityStats){
		<option>
			@city.Name
		</option>
	}
</select>

<table class="table">
    <thead>
        <tr>
            <th>Период</th>
            <th>Минимальная температура</th>
            <th>Максимальная температура</th>
            <th>Средняя температура</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@CurrentCity.TimeStamp.ToString()</td>
            <td>@CurrentCity.MinTemperature</td>
            <td>@CurrentCity.MaxTemperature</td>
            <td>@CurrentCity.AvgTemperature</td>
        </tr>

    </tbody>
</table>

<table class="table">
    <thead>
        <tr>
            <th>Текущая температура</th>
        </tr>
    </thead>
</table>

<table class="table">
    <thead>
        <tr>
            <th>График за месяц</th>
        </tr>
    </thead>
</table>

@code {
    private List<CityWStat> CityStats = new List<CityWStat>();
    private CityWStat CurrentCity = null!;

    public string url { get; set; } = "first-city";

    protected override void OnInitialized()
    {
        CityStats = StatService.GetAllCitiesStats();
        CurrentCity = StatService.GetCityWStatByUrl(url);
    }
}